.FloweredBorder img {
    position: fixed;
    top: -8%;
    left: -2%;
    width: 19%;
    z-index: 30;
    pointer-events: none;
}

.Reflected img {
    position: fixed;
    top: -8%;
    right: -3%;
    width: 19%;
    transform: scaleX(-1);
    z-index: -1;
}
